.card {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 250px;
    margin: 0 auto;
    
  }
  
  .card h2 {
    font-weight: bold;
    margin-top: 0;
  }
  
  .card p {
    margin-bottom: 10px;
  }
  
  .btn-modificar, .btn-eliminar {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-modificar:hover, .btn-eliminar:hover {
    background-color: #3e8e41;
  }
 #template-card {
  margin-top: 10px;
 }