<%- include('partials/head'); -%>
<link rel="stylesheet" href="/css/estilosIndex.css">
    <link rel="stylesheet" href="/css/estilosTablaGestion.css">
    <link rel="stylesheet" href="/css/autocomplete.css">
    <link rel="stylesheet" href="/css/autocompleteNombres.css"> 
</head>
<body>
  <%- include('partials/header'); -%>
    <h1>cargaRma.ejs</h1>
    <h1>Buscar Cliente</h1>

    <!-- Formulario para buscar cliente -->
    <form action="/gestion/buscarCliente" method="GET">
        <!-- <label for="buscarCliente">Buscar Cliente:</label>
        <input type="text" id="nombreCliente" name="buscarCliente" autocomplete="off" class="autocompleteNombres" placeholder="Ingrese nombre del cliente" required>
        <button type="submit">Buscar</button>
        <ul id="suggestionsList" class="suggestions" style="display: block;"></ul> -->

         <table>
            <tr>
              <td><label for="buscarCliente"><h2>Cliente</h2></label></td>
              <td>
                
                <input type="text" name="buscarCliente" class="autocompleteNombres" autocomplete="off" >
                <ul id="suggestionsList" class="suggestions" style="display: none;"></ul>
              </td>
            </tr>
            <tr>
              <td colspan="2" id="tdInputSubmit">
                <button type="submit" >Buscar</button>
              </td>
            </tr>
          </table> 
          
    </form><br><br>

    <% if (cliente) { %>
        <h1>Cargar RMA para <%= cliente.nombreCliente %></h1>

        <!-- Formulario de Carga de Productos -->
        <form action="/gestion/cargarProducto" method="POST">
            <!-- Campo oculto para el ID del cliente -->
            <input type="hidden" id="clienteId" name="clienteId" value="<%= cliente.id %>">

            <table class="tabla-carga">
                <tr>
                    <td><label for="modelo">Modelo:</label></td>
                    <td><input type="text" id="modelo" name="modelo" autocomplete="off" required></td>
                    <div id="autocomplete-list" class="autocomplete-list"></div>
                </tr>
                <tr>
                    <td><label for="cantidad">Cantidad:</label></td>
                    <td><input type="number" id="cantidad" name="cantidad" required></td>
                </tr>
                <tr>
                    <td><label for="solicita">Solicita:</label></td>
                    <td><input type="date" id="solicita" name="solicita"></td>
                </tr>
                <tr>
                    <td><label for="opLote">OP Lote:</label></td>
                    <td><input type="text" id="opLote" name="opLote"></td>
                </tr>
                <tr>
                    <td><label for="vencimiento">Vencimiento:</label></td>
                    <td><input type="date" id="vencimiento" name="vencimiento"></td>
                </tr>
                <tr>
                    <td><label for="seEntrega">Se Entrega:</label></td>
                    <td><input type="date" id="seEntrega" name="seEntrega"></td>
                </tr>
                <tr>
                    <td><label for="seRecibe">Se Recibe:</label></td>
                    <td><input type="date" id="seRecibe" name="seRecibe"></td>
                </tr>
                <tr>
                    <td><label for="observacion">Observación:</label></td>
                    <td><input type="text" id="observacion" name="observacion"></td>
                </tr>
                <tr>
                    <td><label for="numeroDeIngreso">Número de Ingreso:</label></td>
                    <td><input type="text" id="numeroDeIngreso" name="numeroDeIngreso"></td>
                </tr>
                <tr>
                    <td><label for="numDeEgreso">Número de Egreso:</label></td>
                    <td><input type="text" id="numDeEgreso" name="numDeEgreso"></td>
                </tr>
            </table>
            
            <button type="submit">Cargar Producto</button>
    </form>
    <script src="/js/autocomplete.js"></script>
    <% } else { %>
        <h2>No se ha seleccionado ningún cliente</h2>
    <% } %>
    <script src="/js/skuListado.js"></script>
   
    <script src="/js/nombresListado.js"></script>
</body>
</html>
