<header>
    Sistema de gestion de RMA

    <a href="/">Inicio</a>
    <a href="/gestion">Gestión de clientes</a>
    <a href="/gestionRMA">Gestion productos</a>
    <a href="/etiquetas">Etiquetas</a>
    <a href="/cargaRemitente">Gestión remitentes</a>
    <a href="/stock">Stock</a>
</header>
